/*
    Primary Sass File where Every File included in
*/

/*
        Include Reset File From Bases Folder
*/

@import 'bases/reset';
/*
        Include variables File From helpers Folder
*/

@import 'helpers/variables';
/*
        Include navbar File From Layouts Folder
*/

@import 'layouts/navbar';
/*
        Include User Area Section File From Layouts Folder
*/

@import 'layouts/userAreaSection';
/*
        Include Support Ticket Section File From Layouts Folder
*/

@import 'layouts/supportTicket';
/*
        Include Add Notes Section File From Layouts Folder
*/

@import 'layouts/addNotes';
/*
        Include Ticket Section File From Layouts Folder
*/

@import 'layouts/ticket';
/*
        Include Ticket Categories Section File From Layouts Folder
*/

@import 'layouts/ticketCAt';
/*
        Include project Categories Section File From Layouts Folder
*/

@import 'layouts/projectCat';
/*
        Include Login & Register Section File From Layouts Folder
*/

@import 'layouts/loginRegister';
* {
    //outline: 1px solid red
}

@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans-regular.woff') format('woff'); /* Modern Browsers */
}

body {
    font-family: 'NeoSans';
    background:#E6EAED;
    overflow-X: hidden !important;
}
/*
        Include variables File From helpers Folder
*/

@import 'helpers/mediaQuery';