/* Start Media Query */

/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width:320px) and (max-width: 575px) {
    .navbar-default{
        .navbar-brand{
           width: 198px !important;
            span{
                font-size: 11px !important
            }
        }
        .navbar-nav {
            li{
                padding: 4px 10px !important;
                &:last-child{
                    margin: 20px 40px;
                    a{
                        text-align: center
                    }
                }
            }
        }
    } 
    .replied-section{
        width: 100% !important
    }
    .row{
        margin-left:  0 !important;
        margin-right:  0 !important;
    }
    .ticket-category {
        .ticket-category-img{
            padding: 40px 13px !important
        }
    }
    .login-register-section{
        width: 97% !important;
        margin: 40px auto !important
    }
    .login-register-form{
        background: #fff;
        height: auto !important;
        top: 88% !important;
        width: 96% !important;
        left: auto !important; 
        right: 2% !important;
        button{
            display: block;
            width: 116%;
            margin-right: -15px !important;
        }
        a{
            text-align: center !important
        }
    }
    
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-nav {
        li{
            padding: 4px 10px !important;
            &:last-child{
                margin: 20px 40px;
                a{
                    text-align: center
                }
            }
        }
    }
    .replied-section{
        width: 60% !important
    }
    .ticket-category {
        .ticket-category-img{
            padding: 40px 20px !important
        }
    }
    .login-register-form{
        a{
            font-size: 13px !important;
        }
    }
    
      
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand{
        width: 198px !important;
         span{
             font-size: 11px !important
         }
     }
     .navbar-nav {
        li{
            padding: 20px 0 !important;
            &:last-child{
                padding: 0 !important;
            }
        }
    }
    .form-inline {
        .form-control{
            margin: 40px
        }
    }
    .user-area{
        .user-area-list{
            .tab-step{
                width: auto !important;
                h4{
                    font-size: 14px !important
                }
            }
        }
    }
    .ticket-category {
        .ticket-category-img{
            padding: 40px 20px !important
        }
    }
    .login-register-form{
        a{
            font-size: 13px !important;
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1500px) {
    .table-responsive{
        overflow: hidden;
    }
    .form-inline {
        .form-control{
            margin: 40px
        }
    }
}

//949