/* Start Project Categories */
.project-category  {
    background: #fff;
    margin:30px 0;
    border-radius: 5px;
    min-height: 140px;
    img{
        width: 60px;
        height: 60px;
    }
    h4{
        font-weight: bold
    }
    .project-category-img{
        padding: 40px 62px;
        border-left:1px dashed #ddd;
        img{
            transform: scale(1);
            transition: transform .4s ease-in-out;
        }
    }
    .project-category-info{
        padding:20px;
    }
    &:hover{
        .project-category-img{
            img{
                transform: scale(1.3);
            }
        }
        
    }
}
/* End Project Categories */