/* Start Ticket */
.ticket,
.ticket-comment{
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #b2b2b2;
    margin-bottom: 20px;
    h4{
        text-decoration: underline;
        margin-bottom: 20px;
    }
    .label{
        display: inline;
        color:#bb4999
    }
}
.replied-section{
    background: #e6eaed;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    .comment-time,.user-info{
        display: inline-block;
    }
    
}
.ticket-comment-msg{
    padding-bottom: 30px;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        width: 50%;
        height: 1px;
        background: #bfbfbf;
    }
}
.comment-rate{
    h5,.starrr{
        display: inline-block
    }
}
.comment-no{
    margin-top: 10px
}
.add-Comment{
    margin-bottom: 30px;
    
    button{
        margin-top: 30px;
        padding: 5px 50px
    }
    .Editor-container{
        box-shadow: 1px 1px 10px #b2b2b2;
    }
}
.Editor-editor{
    background: #fff
}
/* End Ticket */